@import "public";
*{margin:0;padding:0;}
.margin{
	width:1210px;
	margin:0 auto;
}
//头部
#header{
	height:24px;background:$background;line-height:24px;
	.collect{
		i{display:inline-block;width:12px;height:12px;background:url(../image/common-bg.png);}
		a:hover{color:$color;text-decoration:underline;}
	}
	p{margin-left:287px;}
	.login_reg{
		margin-left:50px;
		a{color:$color;}
		a:hover{text-decoration:underline;}
		}
		ul{
			li{
				float:left;
				span{margin:0 5px;};
				div{
					display:$iblock;padding:0 5px;
					a:hover{color:$color;text-decoration:underline;}
				&.te{
					position:relative;
					&:hover{
						background:#fff;
						& ol,dl{display:block;}
						
					}
					b{display:$iblock;width:7px;height:4px;background:url(../image/common-bg.png) -22px 0;margin-left:10px;}
					i{display:$iblock;width:9px;height:16px;background:url(../image/common-bg.png) -39px 0;margin-right:5px;vertical-align:middle;}
					ol{
						z-index:100;
						border:1px solid #e8e8e8;
						border-top:none;
						background:#fff;
						position:absolute;
						left:0;
						display:none;
						li{
							border-top:1px solid #ececec;width:78px;height:24px;margin:0 auto;
							a{margin-left:5px;}
						}
					}
				}
				dl{
					z-index:100;
					background:#fff;
					display:none;
					position:absolute;
					right:0;
					width:336px;
					boreder:1px solid #e8e8e8;
					border-top:none;
					li{
						float:left;
						width:146px;
						margin:10px;
						div{
							width:146px;
							height:21px;
							margin-top:10px;
							text-align:center;
							line-height:21px;
							&.te1{background:url(../image/common-btn.png) 0 -682px;}
							&.te2{background:url(../image/common-btn.png) 0 -705px;}
							a{
								color:#fff;
								&:hover{color:#fff;text-decoration:underline;}
							}
						}
					}
				}
				}
			}
		}
}
//广告栏
#banner{height:60px;background:url(../image/2000-60.jpg);background-size:100% 100%;border-top:1px solid #e8e8e8;}
//logo
#logo{
	height:102px;
	.mylogo{
		float:left;
		margin-top:25px;
	}
	.search{
		float:left;
		margin:27px 0 0 50px;
		.find{
			width:530px;
			height:36px;
			input:nth-child(1){float:left;width:396px;height:32px;border:2px solid #b3b3b3;border-right:none;padding:0 8px;}
			input:nth-child(2){float:left;width:80px;height:36px;background:#e43c3f;color:#fff;cursor:pointer;}
			a{
				float:right;display:$iblock;width:24px;margin-top:5px;
				&:hover{color:$color;text-decoration:$under;}
			}
		}
		.hot{
			height:26px;
			line-height:26px;
			span{float:left;color:#999;}
			ul{
				float:left;
				li{
					float:left;
					margin-left:12px;
					a{
						color:#f00;
						font-weight:700;
						&:hover{text-decoration:$under;}
					}
				}
			}
		}
	}
	.person{
		float:right;
		margin-top:31px;
		width:272px;
		height:30px;
		.common{
			float:left;width:131px;height:28px;border:1px solid #efefef;line-height:28px;background:$background;
			a{
				margin-left:5px;
				&:hover{color:$color;text-decoration:$under;}
			}
			b{display:$iblock;width:9px;height:8px;background:url(../image/common-bg.png) -181px 0;margin-right:15px;}
			&.my{
				margin-right:6px;
				position:relative;
				&:hover{
					.mine{display:block;}
					background:#fff;
					border-top:3px solid #e4393c;
					border-bottom:#fff;
					a{color:$color;}
				}
				i{display:$iblock;width:17px;height:19px;background:url(../image/common-bg.png) -77px 0;margin-left:15px;vertical-align:middle;}
				.mine{
					z-index:100;
					background:$background;position:absolute;right:0;width:298px;height:220px;
					display:none;
					.log_reg{
						background:#fff;width:296px;height:32px;line-height:32px;margin:1px;
						span{
							margin-left:28px;
							a{
								color:$color;
								&:hover{text-decoration:$under;}
							}
						}
					}
					.myall{
						width:296px;height:82px;
						ul{
							width:147px;height:79px;padding-top:3px;background:#fff;
							&:nth-child(1){float:left;}
							&:nth-child(2){float:right;}
							li{
								height:24px;margin-left:40px;
								a{
									color:#1a66b3;
									&:hover{color:$color;}
								}
							}
						}
					}
					.hotactive{
						border-top:1px solid #e8e8e8;height:20px;line-height:20px;paddinig-left:1px;
						span{display:$iblock;width:3px;height:20px;background:#e4393c;margin-right:6px;vertical-align:middle;}
					}
					.active{
						width:296px;height:81px;margin:0 auto;background:#fff;
						ul{
							margin:3px 0 0 30px;
							li{
								height:24px;line-height:24px;
								a{
									color:$color;
									&:hover{text-decoration:$under;}
								}
							}
						}
					}
				}
			}
			&.shopcar{
				i{display:$iblock;width:20px;height:20px;background:url(../image/common-bg.png) -124px 0;margin-left:15px;vertical-align:middle;}
			}
			
		}
	}
}

//导航栏
#nav{
	height:40px;background:#e4393c;
	.all{
		position:relative;
		float:left;
		width:210px;height:40px;background:#c91518;
		p{color:#fff;line-height:40px;margin-left:20px;font-weight:700;}
		.allgoods{
			position:absolute;z-index:100;left:0;border:2px solid #c91518;border-top:none;width:206px;padding-top:5px;padding-bottom:14px;background:#fff;
			dl{
				width:194px;
				border-bottom:1px dashed #d6d6d6;
				padding:3px 6px 5px;
				&:nth-child(1) dd a{color:#f00;}
				&:nth-child(14){
					height:34px;
					a{
						display:$iblock;
						width:194px;
						color:#f00;
						line-height:34px;
						text-align:center;
						font-weight:700;
					}
				}
				dd{
					float:left;width:194px;height:26px;line-height:26px;color:#000;font-weight:700;
					a:hover{color:#f00;}
				}
				dt{
					float:left;height:20px;line-height:20px;
					span{margin:0 8px;}
					a:hover{color:#f00;text-decoration:$under;}
				}
			}
		}
	}
	ul{
		float:left;
		li{
			float:left;
			a{
				display:$iblock;color:#fff;line-height:40px;padding:0 24px;font-weight:700;
				&:hover{background:#a40000;}
			}
		}
	}
}
//轮播图
.banner{
	height:480px;position:relative;
	.box{
		height:480x;position:absolute;
		img{
			position:absolute;
			opacity:0;
		}
	}
	.find{
		position:absolute;
		bottom:0;
		right:0;
		z-index:10;
		height:110px;
		width:980px;
		img{
			float:left;
			opacity:0.5;
			&.active{opacity:1;border:5px solid #fff;}
		}
	}	
}

//秒杀
#miaosha{
	height:227px;width:996px;margin-left:214px;
	.time{
		height:60px;
		.float-left{
			img{margin-top:26px;}
			.chang{
				margin:22px 0 0 13px;font:18px/25px "";
				i{display:$iblock;width:78px;height:25px;background:#ff0000;color:#fff;text-align:center;}
			}
			.daojishi{
				margin:20px 0 0 20px;
				span{display:$iblock;width:28px;height:28px;background:#3d3d3d;border-radius:3px;color:#fff;text-align:center;line-height:28px;font-size:16px;}
				i{display:$iblock;width:16px;height:28px;font-size:18px;text-align:center;}
			}
			p{color:#999999;margin:16px 0 0 20px;line-height:44px;}
		}
		.float-right{
			margin:22px 3px 0 0;
			a{
				color:#a0a0a0;lin-height:38px;
				img{vertical-align:middle;}
			}
		}
	}
	.list{
		height:165px;border:1px solid #f1f1f1;
		ul{
			li{
				float:left;border-right:1px solid #f1f1f1;height:165px;width:198px;
				&:nth-child(5){border-right:0;}
				a{
					display:block;
					img{
						width:122px;height:122px;margin-top:10px;margin-left:40px;
						&:hover{opacity:0.5;}
					}
					.price{color:#ff0000;font:16px/16px "";text-align:center;margin-bottom:5px;}
					.yuan-price{color:#9a9a9a;font:12px/12px "";text-align:center;text-decoration:line-through;}
				}
			}
		}
	}
}

//初夏好书
#summer{
	height:227px;width:996px;margin-left:214px;
	.top{
		height:60px;
		img{margin-top:26px;}
		.chang{
			margin:11px 0 0 13px;font:18px/49px "";
		}
		p{color:#999999;margin:16px 0 0 20px;line-height:44px;}
		
	}
	.list{
			height:165px;border:1px solid #f1f1f1;
			ul{
				li{
					float:left;border-right:1px solid #f1f1f1;height:165px;width:198px;
					&:nth-child(5){border-right:0;}
					&:nth-child(1) a .func span{background:#d1fff5;color:#03655a;}
					&:nth-child(2) a .func span{background:#ffe4e4;color:#cb3939;}
					&:nth-child(3) a .func span{background:#ffdfd1;color:#b95925;}
					&:nth-child(4) a .func span{background:#d1deff;color:#4e47c6;}
					&:nth-child(5) a .func span{background:#ffead3;color:#97622a;}
					a{
						display:block;
						.title{color:#000;font:700 18px/28px "";text-align:center;}
						.func{
							height:24px;
							span{
								display:block;width:84px;height:24px;font:14px/24px "";border-radius:8px;margin-left:57px;text-align:center;
							}	
						}
						img{
							width:100px;height:100px;margin:10px 0 0 45px;
							&:hover{opacity:0.5;}
						}
					}
				}
			}
		}
}
//文轩聚焦
#focus{
	margin-top:25px;height:573px;
	.top{
		height:50px;
		img{margin-top:14px;}
		.chang{
			font:18px/50px "";margin-left:12px;
		}
		p{color:#999999;margin:6px 0 0 20px;line-height:44px;}
	}
	.list{
			border:1px solid #f1f1f1;
			ul{
				li{
					float:left;border-right:1px solid #f1f1f1;height:260px;width:240px;position:relative;
					&:nth-child(1){border-bottom:1px solid #f1f1f1;}
					&:nth-child(2){border-bottom:1px solid #f1f1f1;}
					&:nth-child(3){border-bottom:1px solid #f1f1f1;}
					&:nth-child(4){border-bottom:1px solid #f1f1f1;}
					&:nth-child(5){border-bottom:1px solid #f1f1f1;}
					&:nth-child(5){border-right:0;}
					&:nth-child(10){border-right:0;}	
					a{
						display:block;
						.book{
							height:177px;position:relative;
							img{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
						}
						.descri{height:40px;line-height:40px;padding-left:30px;}
						.price{
							padding:0 30px;height:30px;line-height:30px;
							span{color:#f00;}
							i{text-decoration:line-through;color:#b5b2b3;}
						}
						p{
							display:none;background:#000;height:89px;opacity:0.7;position:absolute;bottom:0px;width:100%;
							span{display:block;margin:10px 0 0 14px;color:#fff;line-height:18px;}
						}
					}
				}
			}
		}
}

//特色推荐
#recommend{
	.top{
		height:59px;
		img{margin-top:14px;}
		.special{font:18px/50px "";margin-left:12px;}
		ul{
			li{
				float:left;
			}
		}
	}
}














//底部
#footer{
	background:$background;
	.join{
		border-top:4px solid #e4e4e4;
		height:129px;
	}
	.platform{
		height:118px;
		ul{
			height:118px;
			li{
				float:left;
				border:1px solid #efefef;
				background:#fff;
				width:297px;height:116px;
				margin-right:4px;
				&:nth-of-type(4){
					margin-right:0;
					a{display:$iblock;margin-top:4px;width:66px;height:22px;background:#ebebeb;line-height:22px;padding-left:6px;}
				}
				img{float:left;width:80px;heeight:80px;margin:18px 14px 9px;}
				.net{
					h4{margin-top:11px;font:700 18px/26px "";color:#666;}
					p{color:#666;line-height:18px;}
				}
				&:nth-of-type(2){
					a{
						display:$iblock;margin-top:22px;width:90px;height:22px;background:#ebebeb;line-height:22px;
						i{vertical-align:middle;margin:3px 5px;}
						&:nth-of-type(1){
							i{display:$iblock;width:14px;height:16px;background:url(../image/apple.png);}
						}
						&:nth-of-type(2){
							i{display:$iblock;width:14px;height:16px;background:url(../image/android.png);}
						}
					}
				}
			}
		}
	}
	.server{
		height:211px;border-bottom:1px solid #e8e8e8;
		ul{
			float:left;
			margin-top:47px;
			width:140px;
			margin-right:35px;
			&:nth-of-type(7){margin-right:0;}
			p{font:700 16px/28px "";border-bottom:1px solid #c9c9c9;color:#666;text-indent:35px;}
			ol{
				margin-left:5px;
				margin-top:5px;
				i{display:$iblock;width:4px;height:4px;background:url(../image/repeat-bg.png) -5px -7px;margin-right:12px;vertical-align:middle;}
				a{
					line-height:20px;
					&:hover{color:#f00;text-decoration:$under;}
				}
				li{
					span{margin-right:12px;vertical-align:middle;}
					&:nth-of-type(1){
						span{
							display:$iblock;width:13px;height:18px;background:url(../image/repeat-bg.png) -1px -26px;
						}
					}
					&:nth-of-type(2){
						span{
							display:$iblock;width:14px;height:16px;background:url(../image/repeat-bg.png) -1px -55px;
						}
					}
					&:nth-of-type(3){
						span{
							display:$iblock;width:14px;height:17px;background:url(../image/repeat-bg.png) -1px -79px;
						}
					}
					&:nth-of-type(4){
						line-height:24px;
						span{
							display:$iblock;width:16px;height:15px;background:url(../image/repeat-bg.png) 0 -106px;
						}
					}
				}
			}
		}
	}
}
.promise{background:#ececec;}
.bottom{
	background:#f9f9f9;padding-bottom:38px;
	a:hover{color:#f00;text-decoration:$under;}
	ul{
		height:38px;margin-top:26px;width:318px;margin:0 auto;line-height:38px;margin-top:26px;
		li{
			float:left;
			span{margin:0 18px;}
		}
	}
	.manage{
		height:56px;line-height:56px;width:680px;margin:0 auto;
		span{margin:0 3px;}
	}
	.service{
		height:18px;line-height:18px;width:392px;margin:0 auto;
		span{margin:0 3px;}
		a{margin:0 6px;}
	}
	.gongshang{
		width:50px;margin:0 auto;
	}
}