#public_header{height:82px;background:url(../images/loginbg.png) repeat-x 0 -349px;}
.header{width:990px;margin:0 auto;}
.header a{display:block;width:208px;height:82px;background:url(../images/loginbg.png) no-repeat 0 -217px;}